.product-table{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
    background-color: #f2f2f2;
}

.product-table th, .product-table td {
    padding: 15px;
}

.product-table tr:nth-child(even){background-color: #f2f2f2;}

.add-product-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.add-product{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
    background-color: #f2f2f2;
}

.add-product form{
    padding: 15px;
}

.add-product input[type=text], .add-product input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add-product input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.add-product input[type=submit]:hover{
    background-color: #45a049;
}

.add-product select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-product label{
    font-weight: bold;
}

.add-product button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}


